<!doctype html>
<html>
<head>
	<%- include("../fragmente/head.ejs") %>
	<title>404</title>
</head>
<body class="light">

<%- include("../fragmente/header.ejs") %>

<main>
	<p>Eroare 404 Pagina nu a fost gasita</p>

</main>

<%- include("../fragmente/footer.ejs") %>
</body>
</html>