<!doctype html>
<html>
<head>
	<%- include("../fragmente/head.ejs") %>
	<title>Galerie statica</title>
</head>
<body class="light">

<%- include("../fragmente/header.ejs") %>

<main>


	<section id="galerie-statica" >
		<h2>Galerie statica</h2>
		<p>Aici putem observa diferite modele 3D realizate in Blender</p>
		<br>
		<div id="gr">
			<figure>
				<img src="Imagini/Galerie/Poza1.png" alt="Casa pe lac"  class="poza">
				<figcaption>Casa pe lac</figcaption>
			</figure>
			<figure>
				<img src="Imagini/Galerie/Poza2.png" alt="Casute iarna"  class="poza">
				<figcaption>Casute iarna</figcaption>
			</figure>
			<figure>
				<img src="Imagini/Galerie/Poza3.png" alt="Coloane"  class="poza">
				<figcaption>Coloane</figcaption>
			</figure>
			<figure>
				<img src="Imagini/Galerie/Poza4.png" alt="Dovleci"  class="poza">
				<figcaption>Dovleci</figcaption>
			</figure>
			<figure>
				<img src="Imagini/Galerie/Poza5.png" alt="Monstru"  class="poza">
				<figcaption>Monstru</figcaption>
			</figure>
			<figure>
				<img src="Imagini/Galerie/Poza6.png" alt="Foc"  class="poza">
				<figcaption>Foc</figcaption>
			</figure>
			<figure>
				<img src="Imagini/Galerie/Poza7.png" alt="Insula plutitoare"  class="poza">
				<figcaption>Insula plutitoare</figcaption>
			</figure>

			<figure>
				<img src="Imagini/Galerie/Poza8.png" alt="Fantana"  class="poza">
				<figcaption>Fantana</figcaption>
			</figure>

			<figure>
				<img src="Imagini/Galerie/Poza9.png" alt="Butoi"  class="poza">
				<figcaption>Butoi</figcaption>
			</figure>

			<figure>
				<img src="Imagini/Galerie/Poza10.png" alt="Barca pe rau"  class="poza">
				<figcaption>Barca pe rau</figcaption>
			</figure>
		</div>

	</section>

</main>
<%- include("../fragmente/footer.ejs") %>
</body>
</html>