<!doctype html>
<html>
<head>
    <%- include("../fragmente/head.ejs") %>
    <title>Galerie animata</title>
</head>
<body class="light">

<%- include("../fragmente/header.ejs") %>

<main>


    <section id="" >
        <h2>Galerie animata</h2>
        <p>Aici putem observa modelele 3D din galeria statica inainte de a fi randate si de a li se aplica o textura </p>
        <div id="galerie_exemplu" class="galerie">
            <div>
                <figure>
                    <img src="Imagini/Galerie_animata/1.png" alt="" />
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <img src="Imagini/Galerie_animata/2.png" alt="" />
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <img src="Imagini/Galerie_animata/3.png" alt="" />
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <img src="Imagini/Galerie_animata/4.png" alt="" />
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <img src="Imagini/Galerie_animata/5.png" alt="" />
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <img src="Imagini/Galerie_animata/6.png" alt="" />
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <img src="Imagini/Galerie_animata/7.png" alt="" />
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <img src="Imagini/Galerie_animata/8.png" alt="" />
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <img src="Imagini/Galerie_animata/9.png" alt="" />
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <img src="Imagini/Galerie_animata/10.png" alt="" />
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <img src="Imagini/Galerie_animata/11.png" alt="" />
                    <figcaption></figcaption>
                </figure>
            </div>
        </div>

    </section>

</main>
<%- include("../fragmente/footer.ejs") %>
</body>
</html>