<!doctype html>
<html>
<head>

    <%- include("../fragmente/head.ejs") %>
    <title>Home</title>
</head>
<body class="light">

<%- include("../fragmente/header.ejs") %>

<main>



    <section id="Capitol_2">
        <h2>Comenzile principale si <i lang="en">Workspace-uri</i></h2>

        <section>
            <h3>Comenzile principale</h3>

            <p>Pentru a selecta un obiect apasam click stanga pe el</p>
            <video class="imagine" controls >
                <source src="Videoclipuri/Comenzile%20principale/Selectare%20obiect.mp4" type="video/mp4">
            </video>


            <p>Pentru a micsora/mari imaginea folosim <i lang="en">scroll wheel</i> </p>
            <video class="imagine" controls>
                <source src="Videoclipuri/Comenzile%20principale/Zoom%20in,out.mp4" type="video/mp4">
            </video>



            <p>Pentru a ne misca in jurul obiectului tinem apasat pe Shift + <i lang="en">scroll wheel</i> si miscam <i lang="en">mouse-ul</i> </p>
            <video class="imagine" controls>
                <source src="Videoclipuri/Comenzile%20principale/miscare%20in%20jurul%20obiectului.mp4" type="video/mp4">
            </video>


            <p>Pentru a ne roti in jurul obiectului tinem apasat pe <i lang="en">scroll wheel</i> si miscam <i lang="en">mouse-ul</i> </p>
            <video class="imagine" controls>
                <source src="Videoclipuri/Comenzile%20principale/rotire%20in%20jurul%20obiectului.mp4" type="video/mp4" >
            </video>



            <p>Pentru a muta obiectul mai intai il selectam dupa apasam <b>G</b></p>
            <video class="imagine" controls>
                <source src="Videoclipuri/Comenzile%20principale/mutarea%20obiectului.mp4" type="video/mp4">
            </video>



            <p>Pentru a scala obiectul mai intai il selectam dupa apasam <b>S</b></p>
            <video class="imagine" controls>
                <source src="Videoclipuri/Comenzile%20principale/scalarea%20obiectului.mp4" type="video/mp4" >
            </video>


            <p>Pentru a roti obiectul mai intai il selectam dupa apasam <b>R</b></p>
            <video class="imagine" controls>
                <source src="Videoclipuri/Comenzile%20principale/rotirea%20obiectului.mp4" type="video/mp4" >
            </video>



            <p>Tutoriale Blender 2.8</p>
            <video class="imagine" controls>
                <source src="Videoclipuri/Blender_tutorial.mp4" type="video/mp4" >
                <track default src="Subtitrari.vtt" kind="captions">
            </video>




        </section>

        <section>
            <h3><i lang="en">Workspace</i></h3>



            <figure>

                <picture>
                    <source media="(min-width:1000px)" srcset="Imagini/Workspaces/Layout.png">
                    <source media="(min-width:700px)" srcset="Imagini/Workspaces/Layout_mediu.png">
                    <source media="(min-width:300px)" srcset="Imagini/Workspaces/Layout_mic.png">
                    <img class="imagine" src="Imagini/Workspaces/Layout_mic.png" alt="Layout" title="Layout">
                </picture>


                <figcaption><i lang="en">Layout</i></figcaption>
            </figure>
            <p>Pagina <i lang="en">default</i> pe care o vedem cand deschidem aplicatia.Nu dispune de la fel de multe <i lang="en">tool-uri</i> ca celelalte pagini</p>



            <figure>

                <picture>
                    <source media="(min-width:1000px)" srcset="Imagini/Workspaces/Modeling.png">
                    <source media="(min-width:700px)" srcset="Imagini/Workspaces/Modeling_mediu.png">
                    <source media="(min-width:300px)" srcset="Imagini/Workspaces/Modeling_mic.png">
                    <img class="imagine" src="Imagini/Workspaces/Modeling_mic.png" alt="Modeling" title="Modeling" />
                </picture>



                <figcaption><i lang="en">Modeling</i></figcaption>
            </figure>
            <p>Modifica geometria obiectului manipuland <i lang="en">vertecsi</i> in mod direct cu <i lang="en">tool-uri</i> de modelare</p>



            <figure>
                <picture>
                    <source media="(min-width:1000px)" srcset="Imagini/Workspaces/Sculpting.png">
                    <source media="(min-width:700px)" srcset="Imagini/Workspaces/Sculpting_mediu.png">
                    <source media="(min-width:300px)" srcset="Imagini/Workspaces/Sculpting_mic.png">
                    <img class="imagine" src="Imagini/Workspaces/Sculpting_mic.png" alt="Sculpting" title="Sculpting" />
                </picture>

                <figcaption><i lang="en">Sculpting</i></figcaption>
            </figure>
            <p>Similar cu <i lang="en">Modeling</i> dar modifica geometria obiectului manipuland <i lang="en">mesh-ul</i> cu ajutorul unor <i lang="en">tool-uri</i> pentru sculpura</p>



            <figure>
                <picture>
                    <source media="(min-width:1000px)" srcset="Imagini/Workspaces/UV_Editing.png">
                    <source media="(min-width:700px)" srcset="Imagini/Workspaces/UV_Editing_mediu.png">
                    <source media="(min-width:300px)" srcset="Imagini/Workspaces/UV_Editing_mic.png">
                    <img class="imagine" src="Imagini/Workspaces/UV_Editing_mic.png" alt="UV_Editing" title="UV_Editing" />
                </picture>

                <figcaption><i lang="en">UV Editing</i></figcaption>
            </figure>
            <p>Genereaza o "desfasurare" a obiectului in 2D</p>



            <figure>

                <picture>
                    <source media="(min-width:1000px)" srcset="Imagini/Workspaces/Texture_paint.png">
                    <source media="(min-width:700px)" srcset="Imagini/Workspaces/Texture_paint_mediu.png">
                    <source media="(min-width:300px)" srcset="Imagini/Workspaces/Texture_paint_mic.png">
                    <img class="imagine" src="Imagini/Workspaces/Texture_paint_mic.png" alt="Texture_paint" title="Texture_paint" />
                </picture>

                <figcaption><i lang="en">Texture paint</i></figcaption>
            </figure>
            <p>Folosit pentru a picta direct pe obiect</p>



            <figure>
                <picture>
                    <source media="(min-width:1000px)" srcset="Imagini/Workspaces/Shading.png">
                    <source media="(min-width:700px)" srcset="Imagini/Workspaces/Shading_mediu.png">
                    <source media="(min-width:300px)" srcset="Imagini/Workspaces/Shading_mic.png">
                    <img class="imagine" src="Imagini/Workspaces/Shading_mic.png" alt="Shading" title="Shading" />
                </picture>

                <figcaption><i lang="en">Shading</i></figcaption>
            </figure>
            <p>Pentru a specifica anumite proprietati ale materialelor.Aici putem observa cu aproximatie cum ar arata obiectul cu materialul ales cand vom face <i lang="en">randarea</i></p>



            <figure>

                <picture>
                    <source media="(min-width:1000px)" srcset="Imagini/Workspaces/Animation.png">
                    <source media="(min-width:700px)" srcset="Imagini/Workspaces/Animation_mediu.png">
                    <source media="(min-width:300px)" srcset="Imagini/Workspaces/Animation_mic.png">
                    <img class="imagine" src="Imagini/Workspaces/Animation_mic.png" alt="Animation" title="Animation" />
                </picture>

                <figcaption><i lang="en">Animation</i></figcaption>
            </figure>
            <p>Folosit pentru a crea animatii</p>


            <figure>

                <picture>
                    <source media="(min-width:1000px)" srcset="Imagini/Workspaces/Rendering.png">
                    <source media="(min-width:700px)" srcset="Imagini/Workspaces/Rendering_mediu.png">
                    <source media="(min-width:300px)" srcset="Imagini/Workspaces/Rendering_mic.png">
                    <img class="imagine" src="Imagini/Workspaces/Rendering_mic.png" alt="Rendering" title="Rendering" />
                </picture>

                <figcaption><i lang="en">Rendering</i></figcaption>
            </figure>
            <p>Pentru a vizualiza si analiza produsul final.Aici o sa fie afisata <i lang="en">randarea</i> cea mai recenta</p>



            <figure>

                <picture>
                    <source media="(min-width:1000px)" srcset="Imagini/Workspaces/Compositing.png">
                    <source media="(min-width:700px)" srcset="Imagini/Workspaces/Compositing_mediu.png">
                    <source media="(min-width:300px)" srcset="Imagini/Workspaces/Compositing_mic.png">
                    <img class="imagine" src="Imagini/Workspaces/Compositing_mic.png" alt="Compositing" title="Compositing" />
                </picture>

                <figcaption><i lang="en">Compositing</i></figcaption>
            </figure>
            <p>Folosit pentru procesarea imaginilor <i lang="en">(post-processing)</i> si adaugarea efectelor precum <i lang="en">glow,blur,bloom</i> etc</p>



            <figure>

                <picture>
                    <source media="(min-width:1000px)" srcset="Imagini/Workspaces/Scripting.png">
                    <source media="(min-width:700px)" srcset="Imagini/Workspaces/Scripting_mediu.png">
                    <source media="(min-width:300px)" srcset="Imagini/Workspaces/Scripting_mic.png">
                    <img class="imagine" src="Imagini/Workspaces/Scripting_mic.png" alt="Scripting" title="Scripting" />
                </picture>

                <figcaption><i lang="en">Scripting</i></figcaption>
            </figure>
            <p>Folosit pentru cand este nevoie sa scriem noi cod</p>




            <p>Pe langa cele enumerate mai sus Blender mai are si alte <i lang="en">workspace-uri</i> pe care ni le putem adauga noi</p>
        </section>



    </section>


    <section id="Capitol_3">
        <h2><i lang="en">Tool-uri</i> </h2>
        <p>Mai jos vom avea un tabel unde vom enumera toate <i lang="en">tool-urile</i> pe care le gasim in <i lang="en">Layout,Modeling,Sculpting</i></p>
        
    <div class="container_tabel">
        <table>


            <thead>
            <tr>
                <th>Nr</th>
                <th>Layout</th>
                <th>Modeling</th>
                <th>Sculpting</th>
            </tr>

            </thead>

            <tbody>


            <tr>
                <td>1</td>
                <td>Select Box</td>
                <td>Select Box</td>
                <td>Draw</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Cursor</td>
                <td>Cursor</td>
                <td>Draw Sharp</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Move</td>
                <td>Move</td>
                <td>Clay</td>

            </tr>

            <tr>
                <td>4</td>
                <td>Rotate</td>
                <td>Rotate</td>
                <td>Clay Strips</td>

            </tr>
            <tr>
                <td>5</td>
                <td>Scale</td>
                <td>Scale</td>
                <td>Layer</td>

            </tr>

            <tr>
                <td>6</td>
                <td>Transform</td>
                <td>Transform</td>
                <td>Inflate</td>
            </tr>

            <tr>
                <td>7</td>
                <td>Annotate</td>
                <td>Annotate</td>
                <td>Blob</td>
            </tr>

            <tr>
                <td>8</td>
                <td>Measure</td>
                <td>Measure</td>
                <td>Crease</td>
            </tr>

            <tr>
                <td>9</td>
                <td></td>
                <td>Extrude Region</td>
                <td>Smooth</td>
            </tr>

            <tr>
                <td>10</td>
                <td></td>
                <td>Insert Faces</td>
                <td>Flatten</td>
            </tr>

            <tr>
                <td>11</td>
                <td></td>
                <td>Bevel</td>
                <td>Fill</td>
            </tr>

            <tr>
                <td>12</td>
                <td></td>
                <td>Loop Cut</td>
                <td>Scrape</td>
            </tr>

            <tr>
                <td>13</td>
                <td></td>
                <td>Knife</td>
                <td>Multiplane Scrape</td>
            </tr>

            <tr>
                <td>14</td>
                <td></td>
                <td>Poly Build</td>
                <td>Pinch</td>
            </tr>

            <tr>
                <td>15</td>
                <td></td>
                <td>Spin</td>
                <td>Grab</td>
            </tr>

            <tr>
                <td>16</td>
                <td></td>
                <td>Smooth</td>
                <td>Elastic Deform</td>
            </tr>

            <tr>
                <td>17</td>
                <td></td>
                <td>Edge Slide</td>
                <td>Snake Hook</td>
            </tr>

            <tr>
                <td>18</td>
                <td></td>
                <td>Shrink/Flatten</td>
                <td>Thumb</td>
            </tr>

            <tr>
                <td>19</td>
                <td></td>
                <td>Shear</td>
                <td>Pose</td>
            </tr>

            <tr>
                <td>20</td>
                <td></td>
                <td>Rip Region</td>
                <td>Nudge</td>
            </tr>

            <tr>
                <td>21</td>
                <td></td>
                <td></td>
                <td>Rotate</td>
            </tr>

            <tr>
                <td>22</td>
                <td></td>
                <td></td>
                <td>Slide Relax</td>
            </tr>

            <tr>
                <td>23</td>
                <td></td>
                <td></td>
                <td>Cloth</td>
            </tr>

            <tr>
                <td>24</td>
                <td></td>
                <td></td>
                <td>Simplify</td>
            </tr>

            <tr>
                <td>25</td>
                <td></td>
                <td></td>
                <td>Mask</td>
            </tr>

            <tr>
                <td>26</td>
                <td></td>
                <td></td>
                <td>Mesh Filter</td>
            </tr>

            <tr>
                <td>27</td>
                <td></td>
                <td></td>
                <td>Cloth Filter</td>
            </tr>

            <tr>
                <td colspan="4" >Fiecare tool va fi discutat in tutorialele viitoare</td>

            </tr>

            </tbody>
        </table>
    </div>
    </section>


</main>

<%- include("../fragmente/footer.ejs") %>
</body>
</html>