<!doctype html>
<html>
<head>
	<%- include("../fragmente/head.ejs") %>
	<title>Produs</title>
</head>
<body>

<%- include("../fragmente/header.ejs") %>

<main>



	<%- include("../fragmente/produs.ejs",{produs:locals.produs_unic}) %>


</main>

<%- include("../fragmente/footer.ejs") %>
</body>
</html>