<footer>
    <br>
    <br>
    <br>
    <br>
    <br>

    <p>e-mail: <a href="mailto:andreea2015@yahoo.com">andreea2015@yahoo.com</a></p>
    <address><p>Str. Academiei nr.14</p></address>
    <p>Data cand a fost facut site-ul:<time datetime = "2020-10-21">21.10.2020</time></p>


    <a href="#" id="spre_inceputul_paginii" title="Inceputul paginii">&uarr;</a>




    <div class="banner"> Acesta este un site scolar</div>
    <p><small>copyright 2020</small></p>
</footer>