
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="modelare,3D,blender,tutoriale">
    <meta name="description" content="Tutoriale de modelare 3D">
    <meta name="author" content="Ciupuliga Andreea">
    <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" />


    <link rel="stylesheet" type="text/css" href="/CSS/Stiluri.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS/Stil_mediu.css" media="screen and (max-width: 900px)"/>
    <link rel="stylesheet" type="text/css" href="/CSS/Stil_mic.css" media="screen and (max-width: 600px)"/>
    <link rel="stylesheet" type="text/css" href="/CSS/galerie_animata.css"/>

    <script src="/Scripts/script.js"></script>
    <script src="/Scripts/verific_parole.js"></script>
    <script src="/Scripts/sortari.js"></script>




    <title>Tutoriale de modelare 3D</title>

    <link rel="icon" type="image/x-icon" href="/Imagini/favicon.ico"/>

    <style>




    </style>





</head>